/* funky trick with font-awesome overlays all black, score stars yellow */

.star-wrapper {
  position: relative;
  display: inline-block;
}

.stars {
  color: #fcd93a;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}

.star-wrapper::before, .stars::before {
	font-family: "FontAwesome";
	/* font-family: Arial, Helvetica, sans-serif; */
	/* font-size: 2rem; */
	content: "\f005 \0020 \f005 \0020 \f005 \0020 \f005 \0020 \f005";
	/* content: "* * * * *" */
	/* content: "\f095" */
}